{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="icon" href="{% static 'img/logo.png'%}" type="image/png">
    <title>FitLife.ai  | {{ ex_name|title }}</title>
    <!-- Vendor CSS Files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
</head>
<body>
    <main id="main-exercise">
        <div class="top-bar d-flex fixed-top">
            <a href="{% url 'dashboard' %}"><i class="fa-solid fa-arrow-left"></i></a>
            <h2>{{ ex_name|title }}</h2>
        </div>
        <section id="end-workout" class="end-workout">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 headings">
                        <div class="title d-flex justify-content-center">
                            <img src="{% static 'img/exercises/party-popper.png' %}">
                            <h2>Well done! You completed the workout.</h2>
                        </div>
                        <p>Here’s how you performed</p>
                    </div>
                </div>
            </div>
            <div class="container mt-5" >
                <div class="row px-5 g-5 mx-5 justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-box">
                            <div class="icon">
                                <img src="{% static 'img/exercises/calorie-burnt.png' %}">
                            </div>
                            <h4>Calories burnt</h4>
                            <h1>{{ cal_burned }} kcal</h1>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-box">
                            <div class="icon">
                                <img src="{% static 'img/exercises/time-taken.png' %}">
                            </div>
                            <h4>Time taken</h4>
                            <h1>{{ duration }} mins</h1>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-box">
                            <div class="icon">
                                <img src="{% static 'img/exercises/reps-completed.png' %}">
                            </div>
                            <h4>Reps completed</h4>
                            <h1>{{ reps }} Reps</h1>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <a href="http://127.0.0.1:8000/start_exercise/{{ ex_name }}" class="btn btn-restart">Restart Exercise </a>
                </div>
                
                {% if len_playlist == 1 %}
                <div class="text-center">
                    <a href="{% url 'dashboard' %}" class="btn btn-restart">Check your progress</a>
                </div>
                {% else %}
                <div class="text-center">
                    <a href="{% url 'which_exercise' exercise_name=next_exercise.0 %}" class="btn btn-restart">Next Exercise - {{ next_exercise.0 }} </a>
                </div>
                {% endif %}
            </div>

            <div class="container up_next_exercise">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="row card-body">
                                <div class="col-lg-6">
                                    <div class="image-exercise">
                                        <img src="{% static 'img/exercises/jumping-jack.png' %}" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-lg-6 my-auto">
                                    <div class="exercise-info">
                                        <h2>Up next </h2>
                                        <h4>Beginner: Basic squats</h4>
                                        <a href="" class="btn get-started mt-5">Start next <i class="fa-solid fa-chevron-right ms-2" style="font-size: 16px;"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fa fa-angle-double-up"></i></a>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>