{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="icon" href="{% static 'img/logo.png'%}" type="image/png">
    <title>FitLife.ai</title>
    <!-- Vendor CSS Files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link href="{% static 'css/glightbox.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
</head>

<body>
    <main id="main-exercise">
        <section id="onfocus" class="onfocus">
            <div class="container-fluid px-5">
                <div class="row">
                    <div class="col-xl-7 ms-4 video-play position-relative">
                        <a href="https://www.youtube.com/watch?v=42bFodPahBU" class="glightbox play-btn"></a>
                    </div>
                    <div class="col-xl-4 ms-5">
                        <div class="exercise-widget">
                            <div class="exercise-title">
                                <h3>Barbell Squats</h3>
                            </div>
                            <div class="exercise-content">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="info">
                                            <!-- <img src="{% static 'img/exercises/time.png' %}"> -->
                                            <i class="far fa-clock"></i>
                                            <h5>5 mins</h5>
                                        </div>
                                        <div class="info">
                                            <!-- <img src="{% static 'img/exercises/calorie.png' %}"> -->
                                            <i class="fas fa-burn"></i>
                                            <h5>150 Kcal</h5>
                                        </div>
                                        <div class="info">
                                            <i class="fas fa-burn"></i>
                                            <h5>150 Kcal</h5>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <img src="{% static 'img/exercises/body-focus.png' %}" class="body-focus">
                                    </div>
                                </div>
                                <div class="exercise-levels">
                                    <h4>Medium</h6>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 60%"
                                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                </div>
                                <div class="exercise-type">
                                    <h4>Workout Type</h6>
                                        <div class="d-flex">
                                            <div class="mx-2">
                                                <img src="{% static 'img/exercises/tone.png' %}">
                                                <h6 class="mx-2">Tone
                                    </h4>
                                </div>
                                <div>
                                    <img src="{% static 'img/exercises/strength.png' %}">
                                    <h6>Strength</h6>
                                </div>
                            </div>
                            <div class="text-center mt-4">
                                <a href="end.html" class="btn get-started">Start Workout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container-fluid ms-4 px-5 instructions mt-4 mb-5">
            <h2>Instructions</h2>
            <ol type="1">
                <li>Stand facing forward with your chest up. Place your feet shoulder-width apart.</li>
                <li> Extend your hands straight out in front of you to help keep your balance. </li>
                <li> Bend at your knees and hips, sticking your butt out like you're sitting into an imaginary
                    chair. </li>
                <li>Keep your chest lifted and your spine neutral, and do not let your lower back round.</li>
                <li>Squat down as low as you can. Keep your knees over your ankles and press your weight back into
                    your heels.
                </li>
            </ol>

            <div class="tips mt-4">
                <div class="alert" role="alert">
                    <div class="tips-title">
                        <i class="far fa-lightbulb"></i>
                        <h5>Tips</h5>
                    </div>
                    <p>Keep your knees over your ankles and press your weight back into your heels.</p>
                </div>
            </div>
        </div>




    </main>
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer text-center ms-0">
        <div class="copyright">
            &copy; Copyright <strong><span>FitLife.ai</span></strong>. All Rights Reserved
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="fa fa-angle-double-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{% static 'js/glightbox.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>