{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="icon" href="{% static 'img/logo.png'%}" type="image/png">
  <title>FitLife.ai</title>
  <!-- Vendor CSS Files -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  <!-- Template Main CSS File -->
  <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div>
      <i class="fas fa-bars toggle-sidebar-btn d-xl-none"></i>
    </div>
    <div class="pagetitle m-auto d-flex align-items-center">
      <h1>Hey {{ user_data.user_name }} ! It’s time to #GETUPGO</h1>
    </div>
  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'index' %}">
          <i class="fas fa-home"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="fas fa-user"></i>
          <span>Profile</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="fas fa-chart-line"></i>
          <span>Progress</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="fas fa-user"></i>
          <span>Diet Plan</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="far fa-calendar-check"></i>
          <span>Schedule</span>
        </a>
      </li>
      {% if request.session.user_mail_id != False %}
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'logout_user' %}">
          <i class="fas fa-sign-out-alt"></i>
          <span>Logout</span>
        </a>
      </li>
      {% else %}
      {% endif %}
    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">
    {% if user_data.user_gender == 'female' %}
    <section class="dashboard">
      <h2 class="title-heading">Exercises for you</h2>
      <div class="container exercise-recommendations">
        <div class="row" id="carousel-row">
          <div class="col-12">
            <div id="carousel" class="owl-carousel">
              
              <div class="card">
                <a href="{% url 'which_exercise' exercise_name='jumping jack' %}">
                  <img class="img-fluid" src="{% static 'img/dashboard/exercise-f1.png' %}" alt="">
                  <div class="card-body">
                    <h5 class="card-title">Jumping Jack</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>

              <div class="card">
                <a href="{% url 'which_exercise' exercise_name='adbominal crunches' %}">
                  <img class="img-fluid" src="{% static 'img/dashboard/exercise-f2.png' %}" alt="">
                  <div class="card-body">
                    <h5 class="card-title">Abdominal Crunches</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>

              <div class="card">
                <a href="{% url 'which_exercise' exercise_name='knee pushup' %}">
                  <img class="img-fluid" src="{% static 'img/dashboard/exercise-f3.png' %}" alt="">
                  <div class="card-body">
                    <h5 class="card-title">Knee Pushups</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>

              <div class="card">
                <a href="{% url 'which_exercise' exercise_name='side arm raises' %}">
                  <img class="img-fluid" src="{% static 'img/dashboard/exercise-f4.png' %}" alt="">
                  <div class="card-body">
                    <h5 class="card-title">Side Arm Raises</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>

              <div class="card">
                <a href="{% url 'which_exercise' exercise_name='squat' %}">
                  <img class="img-fluid" src="{% static 'img/dashboard/exercise-f5.png' %}" alt="">
                  <div class="card-body">
                    <h5 class="card-title">Squats</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>



              <div class="card">
                <a href="{% url 'which_exercise' exercise_name='backward lunges' %}">
                  <img class="img-fluid" src="{% static 'img/dashboard/exercise-f6.png' %}" alt="">
                  <div class="card-body">
                    <h5 class="card-title">Backward Lunges</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>


              <div class="card">
                <a href="{% url 'which_exercise' exercise_name='cobra stretch' %}">
                  <img class="img-fluid" src="{% static 'img/dashboard/exercise-f7.png' %}" alt="">
                  <div class="card-body">
                    <h5 class="card-title">Cobra Stretch</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>


            </div>
          </div>

        </div>
      </div>

      <h2 class="title-heading">Workout challenges</h2>
      <div class="container workout-challenges">
        <div class="row">
          <div class="col-xl-3 col-md-6 col-lg-3">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'img/dashboard/workout1.png' %}" class="img-fluid">
                <div class="item-title">
                  <span>Calorie crush</span>
                </div>

              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-lg-3">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'img/dashboard/workout2.png' %}" class="img-fluid">
                <div class="item-title">
                  <span>Belly burner</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-lg-3">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'img/dashboard/workout3.png' %}" class="img-fluid">
                <div class="item-title">
                  <span>Beach body</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-lg-3">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'img/dashboard/workout4.png' %}" class="img-fluid">
                <div class="item-title">
                  <span>Abs on fire</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h2 class="title-heading">Workouts by intensity</h2>
      <div class="container workout-intensity">
        <div class="row">
          <div class="col-xl-4 col-md-6 col-lg-4">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'img/dashboard/wi-f1.png' %}" class="img-fluid">
                <div class="item-title d-flex align-items-start flex-column">
                  <div class="p-1 workout-type">Beginner</div>
                  <div class="p-1 mt-5 workout-button">
                    <a href="" class="btn">See More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-md-6 col-lg-4">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'img/dashboard/wi-f2.png' %}" class="img-fluid">
                <div class="item-title d-flex align-items-start flex-column">
                  <div class="p-1 workout-type">Intermediate</div>
                  <div class="p-1 mt-5 workout-button">
                    <a href="" class="btn">See More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-md-6 col-lg-4">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'img/dashboard/wi-f3.png' %}" class="img-fluid">
                <div class="item-title d-flex align-items-start flex-column">
                  <div class="p-1 workout-type">Advance</div>
                  <div class="p-1 mt-5 workout-button">
                    <a href="" class="btn">See More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% else %}
    <section class="dashboard mt-5">
      <h2 class="title-heading">Exercises for you</h2>
      <div class="container exercise-recommendations">
        <div class="row" id="carousel-row">
          <div class="col-12">
            <div id="carousel" class="owl-carousel">
              
              <div class="card">
                <a href="{% url 'which_exercise' exercise_name='jumping jack' %}">
                    <img class="img-fluid" src="{% static 'img/dashboard/exercise-m1.png' %}" alt="">
                    {% if playlist.exercise_jj == 1 %}
                    <div class="done d-flex">
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <h5>Done</h5>
                    </div>
                    {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">Jumping Jack</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>

              <div class="card">
                <a href="{% url 'which_exercise' exercise_name='adbominal crunches' %}">
                  <img class="img-fluid" src="{% static 'img/dashboard/exercise-m2.png' %}" alt="">
                  {% if playlist.exercise_ac == 1 %}
                  <div class="done d-flex">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h5>Done</h5>
                  </div>
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">Abdominal Crunches</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>

              <div class="card">
                <a href="{% url 'which_exercise' exercise_name='knee pushup' %}">
                  <img class="img-fluid" src="{% static 'img/dashboard/exercise-m3.png' %}" alt="">
                  {% if playlist.exercise_kp == 1 %}
                  <div class="done d-flex">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h5>Done</h5>
                  </div>
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">Knee Pushups</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>

              <div class="card">
                <a href="{% url 'which_exercise' exercise_name='side arm raises' %}">
                  <img class="img-fluid" src="{% static 'img/dashboard/exercise-m4.png' %}" alt="">
                  {% if playlist.exercise_sar == 1 %}
                  <div class="done d-flex">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h5>Done</h5>
                  </div>
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">Side Arm Raises</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>

              <div class="card">
                <a href="{% url 'which_exercise' exercise_name='squat' %}">
                  <img class="img-fluid" src="{% static 'img/dashboard/exercise-m5.png' %}" alt="">
                  {% if playlist.exercise_squats == 1 %}
                  <div class="done d-flex">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h5>Done</h5>
                  </div>
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">Squats</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>



              <div class="card">
                <a href="{% url 'which_exercise' exercise_name='backward lunges' %}">
                  <img class="img-fluid" src="{% static 'img/dashboard/exercise-m6.png' %}" alt="">
                  {% if playlist.exercise_bl == 1 %}
                  <div class="done d-flex">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h5>Done</h5>
                  </div>
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">Backward Lunges</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>


              <div class="card">
                <a href="{% url 'which_exercise' exercise_name='cobra stretch' %}">
                  <img class="img-fluid" src="{% static 'img/dashboard/exercise-m7.png' %}" alt="">
                  {% if playlist.exercise_cs == 1 %}
                  <div class="done d-flex">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h5>Done</h5>
                  </div>
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">Cobra Stretch</h5>
                    <div class="d-flex info">
                      <h5>20 cals</h5>
                      <h5 class="ms-2">•</h5>
                      <h5 class="ms-2">12 mins</h5>
                    </div>
                  </div>
                </a>
              </div>


            </div>
          </div>

        </div>
      </div>


      <h2 class="title-heading">Workout challenges</h2>
      <div class="container workout-challenges">
        <div class="row">
          <div class="col-xl-3 col-md-6 col-lg-3">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'img/dashboard/workout1.png' %}" class="img-fluid">
                <div class="item-title">
                  <span>Calorie crush</span>
                </div>

              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-lg-3">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'img/dashboard/workout2.png' %}" class="img-fluid">
                <div class="item-title">
                  <span>Belly burner</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-lg-3">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'img/dashboard/workout3.png' %}" class="img-fluid">
                <div class="item-title">
                  <span>Beach body</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 col-lg-3">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'img/dashboard/workout4.png' %}" class="img-fluid">
                <div class="item-title">
                  <span>Abs on fire</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h2 class="title-heading">Workouts by intensity</h2>
      <div class="container workout-intensity">
        <div class="row">
          <div class="col-xl-4 col-md-6 col-lg-4">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'img/dashboard/wi-m1.png' %}" class="img-fluid">
                <div class="item-title d-flex align-items-start flex-column">
                  <div class="p-1 workout-type">Beginner</div>
                  <div class="p-1 mt-5 workout-button">
                    <a href="" class="btn">See More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-md-6 col-lg-4">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'img/dashboard/wi-m2.png' %}" class="img-fluid">
                <div class="item-title d-flex align-items-start flex-column">
                  <div class="p-1 workout-type">Intermediate</div>
                  <div class="p-1 mt-5 workout-button">
                    <a href="" class="btn">See More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-md-6 col-lg-4">
            <div class="workout-item">
              <div class="item-img">
                <img src="{% static 'img/dashboard/wi-m3.png' %}" class="img-fluid">
                <div class="item-title d-flex align-items-start flex-column">
                  <div class="p-1 workout-type">Advance</div>
                  <div class="p-1 mt-5 workout-button">
                    <a href="" class="btn">See More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endif %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>FitLife.ai</span></strong>. All Rights Reserved
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="fa fa-angle-double-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/owl-carousel.js' %}"></script>

</body>

</html>