{% extends 'base-dashboard.html' %}
{% block title%} Intermediate {% endblock %}
{% load static %}
{% block content %}
<section id="beginner-playlist" class="beginner-playlist">
    <h2 class="title-heading">Workout for intermediate</h2>
    <p class="para">Get started with fitness! These guided workouts aim at helping you start exercising daily with very
        simple and easy-to-do exercises.</p>
    <div class="container">
        <div class="row g-4 mt-2 mb-3">
            <div class="col-xl-6 card-container">
                <div class="card-flip">
                    <div class="card front">
                        <div class="row card-body">
                            <div class="col-lg-4 col-md-6">
                                <div class="image-exercise">
                                    <img src="{% static 'img/dashboard/intermediate-1.png' %}" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-6">
                                <div class="exercise-info">
                                    <h4>Jumping Jacks</h4>
                                    <div class="d-flex info mt-2">
                                        <h5>20 cals</h5>
                                        <h5 class="ms-2">•</h5>
                                        <h5 class="ms-2">12 mins</h5>
                                    </div>
                                    <div class="exercise-type-1 mt-2">
                                        <h5>Lower Body</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card back">
                        <div class="card-body">
                            <div class="exercise-info mt-0">
                                <h4>Jumping Jacks</h4>
                                <p>It is a simple, easy-to-do calisthenics workout, which means it’s great for cardiovascular health and boosting your metabolism. Jump training may be good for bone health, too.  It increases speed, quickness, and power — and they work your whole body. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 card-container">
                <div class="card-flip">
                    <div class="card front">
                        <div class="row card-body">
                            <div class="col-lg-4 col-md-6">
                                <div class="image-exercise">
                                    <img src="{% static 'img/dashboard/intermediate-2.png' %}" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-6">
                                <div class="exercise-info">
                                    <h4>Mountain Climber</h4>
                                    <div class="d-flex info mt-2">
                                        <h5>20 cals</h5>
                                        <h5 class="ms-2">•</h5>
                                        <h5 class="ms-2">10 mins</h5>
                                    </div>
                                    <div class="exercise-type-1 mt-2">
                                        <h5>Lower Body</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card back">
                        <div class="card-body">
                            <div class="exercise-info mt-0">
                                <h4>Mountain Climber</h4>
                                <p>Mountain climbers are great for building cardio endurance, core strength, and agility. You work several different muscle groups with mountain climbers—it's almost like getting a total-body workout with just one exercise.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 card-container">
                <div class="card-flip">
                    <div class="card front">
                        <div class="row card-body">
                            <div class="col-lg-4 col-md-6">
                                <div class="image-exercise">
                                    <img src="{% static 'img/dashboard/intermediate-3.png' %}" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-6">
                                <div class="exercise-info">
                                    <h4>Lunges</h4>
                                    <div class="d-flex info mt-2">
                                        <h5>20 cals</h5>
                                        <h5 class="ms-2">•</h5>
                                        <h5 class="ms-2">10 mins</h5>
                                    </div>
                                    <div class="exercise-type-1 mt-2">
                                        <h5>Lower Body</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card back">
                        <div class="card-body">
                            <div class="exercise-info mt-0">
                                <h4>Lunges</h4>
                                <p>Lunges are a powerful exercise, allowing you to shape and strengthen almost every muscle in the lower body. It targets your quads, hamstrings, glutes, hips, and calves. This improves their flexibility and counteracts the shortening and tightening while sitting for long periods.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 card-container">
                <div class="card-flip">
                    <div class="card front">
                        <div class="row card-body">
                            <div class="col-lg-4 col-md-6">
                                <div class="image-exercise">
                                    <img src="{% static 'img/dashboard/intermediate-4.png' %}" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-6">
                                <div class="exercise-info">
                                    <h4>Push-ups</h4>
                                    <div class="d-flex info mt-2">
                                        <h5>20 cals</h5>
                                        <h5 class="ms-2">•</h5>
                                        <h5 class="ms-2">5 mins</h5>
                                    </div>
                                    <div class="exercise-type-1 mt-2"
                                        style="width: 19%;background: rgba(143, 55, 255, 0.2);">
                                        <h5>Core</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card back">
                        <div class="card-body">
                            <div class="exercise-info mt-0">
                                <h4>Push-ups</h4>
                                <p>The push-up builds both upper-body and core strength. The upper body muscles that are used in the push-up are the deltoids of the shoulders, the pectoral muscles of the chest, the triceps and biceps of the upper arm, the gluteal or hip muscles, and the erector spinae of the back.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 card-container">
                <div class="card-flip">
                    <div class="card front">
                        <div class="row card-body">
                            <div class="col-lg-4 col-md-6">
                                <div class="image-exercise">
                                    <img src="{% static 'img/dashboard/intermediate-5.png' %}" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-6">
                                <div class="exercise-info">
                                    <h4>Butt bridge</h4>
                                    <div class="d-flex info mt-2">
                                        <h5>20 cals</h5>
                                        <h5 class="ms-2">•</h5>
                                        <h5 class="ms-2">12 mins</h5>
                                    </div>
                                    <div class="exercise-type-1 mt-2"
                                        style="width: 19%;background: rgba(143, 55, 255, 0.2);">
                                        <h5>Core</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card back">
                        <div class="card-body">
                            <div class="exercise-info mt-0">
                                <h4>Butt bridge</h4>
                                <p>The basic bridge strengthens your glutes (butt) and hamstrings (back of the thigh) while enhancing core stability. It's easy to add into a strength training workout, can be used as a warm-up, and is even a good rehab exercise for improving core and spinal stabilization.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 card-container">
                <div class="card-flip">
                    <div class="card front">
                        <div class="row card-body">
                            <div class="col-lg-4 col-md-6">
                                <div class="image-exercise">
                                    <img src="{% static 'img/dashboard/intermediate-6.png' %}" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-6">
                                <div class="exercise-info">
                                    <h4>Wide arm pushups</h4>
                                    <div class="d-flex info mt-2">
                                        <h5>20 cals</h5>
                                        <h5 class="ms-2">•</h5>
                                        <h5 class="ms-2">15 mins</h5>
                                    </div>
                                    <div class="exercise-type-1 mt-2"
                                        style="width: 19%;background: rgba(143, 55, 255, 0.2);">
                                        <h5>Core</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card back">
                        <div class="card-body">
                            <div class="exercise-info mt-0">
                                <h4>Wide arm pushups</h4>
                                <p>Wide push-ups are a simple variation of the standard push-up, the primary difference being a wider hand placement. Also known as a wide-grip push-up, this effective exercise activates muscle groups throughout your body.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 card-container">
                <div class="card-flip">
                    <div class="card front">
                        <div class="row card-body">
                            <div class="col-lg-4 col-md-6">
                                <div class="image-exercise">
                                    <img src="{% static 'img/dashboard/intermediate-7.png' %}" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-6">
                                <div class="exercise-info">
                                    <h4>Child’s pose</h4>
                                    <div class="d-flex info mt-2">
                                        <h5>20 cals</h5>
                                        <h5 class="ms-2">•</h5>
                                        <h5 class="ms-2">10 mins</h5>
                                    </div>
                                    <div class="exercise-type-1 mt-2" style="background: rgba(255, 36, 168, 0.2);">
                                        <h5>Upper Body</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card back">
                        <div class="card-body">
                            <div class="exercise-info mt-0">
                                <h4>Child’s pose</h4>
                                <p>Child's Pose (Balasana) is yoga's most important resting posture and it is a nice way to gently stretch various parts of your body. It's a chance to stop what you are doing, reassess your position, reconnect with your breath, and prepare yourself to move forward.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
{% endblock %}