<!DOCTYPE html>
<html>
   <head>
      <title></title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <style type="text/css">

        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
        }
        table {
            border-collapse: collapse !important;
        }
        body {
            height: 100% !important;
            margin: 0 !important;
            padding: 0 !important;
            width: 100% !important;
        }
        div[style*="margin: 16px 0;"] {
            margin: 0 !important;
        }
      </style>
   <body style="margin: 0 !important; padding: 0 !important; background-color: #eeeeee;" bgcolor="#eeeeee">
      <div
         style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: Open Sans, Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">
         For what reason would it be advisable for me to think about business content? That might be little bit risky to
         have crew member like them.
      </div>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr>
            <td align="center" style="background-color: #eeeeee;" bgcolor="#eeeeee">
               <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
                  <tr>
                     <td align="center" valign="top" style="font-size:0; padding: 35px;" bgcolor="#151419">
                        <div style="width:100%;">
                           <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%"
                              style="max-width:300px;">
                              <tr>
                                 <td align="left" valign="top"
                                    style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 36px; font-weight: 800; line-height: 48px;"
                                    class="mobile-center">
                                    <h1 style="font-size: 36px; font-weight: 800; margin: 0; color: #ffffff;">
                                       FitLife.ai
                                    </h1>
                                 </td>
                              </tr>
                           </table>
                        </div>
                     </td>
                  </tr>
                  <tr>
                     <td align="center" style="padding: 35px 35px 20px 35px; background-color: #ffffff;"
                        bgcolor="#ffffff">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
                           style="max-width:600px;">
                           <tr>
                              <td align="center"
                                 style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px;">
                                 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOt2y8HA6x96DbBSA7AyexBu25Yv_SwTqgFz6l1edj1I5eMZgGbBEayTUQh9MGTC5pcRI&usqp=CAU"
                                    width="125" height="150" style="display: block; border: 0px;" />
                                 <h2
                                    style="font-size: 20px; font-weight: 800; line-height: 36px; color: #151419;; margin: 0; text-align: left;">
                                    Hi, 
                                 </h2>
                                 <h2
                                    style="font-size: 20px; font-weight: 800; line-height: 36px; color: #151419;; margin: 0;text-align: left;">
                                    Greetings!
                                 </h2>
                              </td>
                           </tr>
                           <tr>
                              <td align="left"
                                 style="font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; padding-top:px;">
                                 <p
                                    style="font-size: 16px; font-weight: 400; line-height: 24px; color: #3d3d3d;">
                                    You are just a step away from accessing your FitLife.ai account
                                 </p>
                                 <p
                                    style="font-size: 16px; font-weight: 400; line-height: 24px; color: #3d3d3d;">
                                    We are sharing a verification code to access your account.Once you have
                                    verified the code, you'll be prompted to dashboard immediately.
                                 </p>
                                 <p
                                    style="font-size: 16px; font-weight: 400; line-height: 24px; color: #3d3d3d;">
                                    Your OTP Is: 
                                 </p>
                              </td>
                           </tr>
                           <tr>
                              <td bgcolor="#ffffff" align="left">
                                 <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                       <td bgcolor="#ffffff" align="center"
                                          style="padding: 0px 30px 20px 30px;">
                                          <table border="0" cellspacing="0" cellpadding="0">
                                             <tr>
                                                <td align="center" style="border-radius: 3px;"
                                                   bgcolor="#3d3d3d">
                                                   <p style=" color:  #ffffff;font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; text-decoration: none; padding: 0px 30px; border-radius: 2px; border: 1px solid #3d3d3d; display: inline-block;">{{otp}}</p>
                                                </td>
                                             </tr>
                                          </table>
                                       </td>
                                    </tr>
                                 </table>
                              </td>
                           </tr>
                           <tr>
                              <td bgcolor="#ffffff" align="left"
                                 style=" border-radius: 0px 0px 4px 4px; color:  #3d3d3d;font-family: Open Sans, Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 24px; ">
                                 <p style="margin: 0;">Best Regards,</p>
                                 <p style="margin-top:6px;">FitLife.ai Team</p>
                              </td>
                           </tr>
                        </table>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
   </body>
</html>