{% extends 'base-dashboard.html' %}
{% block title%} Profile {% endblock %}
{% block profileactive %} active {% endblock profileactive %}
{% load static %}
{% block content %}
<section id="user-profile" class="user-profile">
   <h2 class="title-heading">Your Profile</h2>
   <div class="container">
      <div class="row mt-5 mb-3 justify-content-center">
         <!------------Profile Page Left Side--------------->
         <div class="col-xl-7">
            {% if editable == 'False' %}
            <form action="{% url 'profile_change' editable='True' %}" method="POST" class="edit-form">
               {% csrf_token %}
               <div class="card">
                  <div class="card-body">
                     <div class="profile-image">
                        {% if user_data.user_gender == 'Female' %}
                        <img src="{% static 'img/dashboard/profile-f.png' %}" class="img-fluid">
                        {% else %}
                        <img src="{% static 'img/dashboard/profile-m.png' %}" class="img-fluid">
                        {% endif %}
                        <button class="btn btn-edit float-end" type="submit">Edit <i
                              class="fa-solid fa-pen ms-1"></i></button>
                     </div>
                     <hr>
                     <div class="row g-5 mb-5">
                        <!---- Name ----->
                        <div class="col-lg-6">
                           <label for="name" class="form-label">Name </label>
                           <input type="text" class="form-control" id="name" name="name"
                              placeholder="{{ user_data.user_name }}" disabled>
                        </div>
                        <div class="col-lg-6">
                           <label for="gender" class="form-label">Gender</label>
                           <input type="text" class="form-control" id="gender" name="gender"
                              placeholder="{{ user_data.user_gender }}" disabled>
                        </div>
                        <div class="col-lg-6">
                           <label for="age" class="form-label">Age</label>
                           <input type="number" class="form-control" placeholder="{{ user_data.user_age }} years"
                              disabled>
                        </div>
                        <div class="col-lg-6">
                           <label for="bloodgroup" class="form-label">Blood Group</label>
                           <input type="text" class="form-control" id="bloodgroup" name="bloodgroup"
                              placeholder="{{ user_data.user_blood_group }}" disabled>
                        </div>
                        <div class="col-lg-6">
                           <label for="weight" class="form-label">Current Weight</label>
                           <input type="number" class="form-control" placeholder="{{ user_data.user_weight }} kgs"
                              disabled>
                        </div>
                        <div class="col-lg-6">
                           <label for="height" class="form-label">Current Height</label>
                           <input type="number¯" class="form-control"
                              placeholder="{{ user_data.user_height_ft }}'{{ user_data.user_height_in }} or {{ user_data.user_height }} cm"
                              disabled>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
            {% else %}
            <form action="{% url 'profile_change' editable='False' %}" method="POST" class="edit-form">
               {% csrf_token %}
               <div class="card">
                  <div class="card-body">
                     <div class="profile-image">
                        {% if user_data.user_gender == 'Female' %}
                        <img src="{% static 'img/dashboard/profile-f.png' %}" class="img-fluid">
                        {% else %}
                        <img src="{% static 'img/dashboard/profile-m.png' %}" class="img-fluid">
                        {% endif %}
                        <div class="float-end">
                           <a class="btn btn-edit" href="{% url 'profile' %}">Cancel</a>
                           <button class="btn btn-edit ms-3" type="submit">Save </button>
                        </div>
                     </div>
                     <hr>
                     <div class="row g-5 mb-5">
                        <div class="col-lg-6">
                           <label for="name" class="form-label">Name </label>
                           <input type="text" class="form-control" id="name" name="name"
                              placeholder="{{ user_data.user_name }}" disabled>
                        </div>
                        <div class="col-lg-6">
                           <label for="gender" class="form-label">Gender</label>
                           <input type="text" class="form-control" id="gender" name="gender"
                              placeholder="{{ user_data.user_gender }}" disabled>
                        </div>
                        <div class="col-lg-6">
                           <label for="age" class="form-label">Age</label>
                           <div class="d-flex">
                              <input type="number" class="form-control" id="age" name="age"
                                 placeholder="{{ user_data.user_age }}">
                              <h4>years</h4>
                           </div>
                        </div>
                        <div class="col-lg-6">
                           <label for="bloodgroup" class="form-label">Blood Group</label>
                           <input type="text" class="form-control" id="bloodgroup" name="bloodgroup"
                              placeholder="{{ user_data.user_blood_group }}" disabled>
                        </div>
                        <div class="col-lg-6">
                           <label for="weight" class="form-label">Current Weight</label>
                           <div class="d-flex">
                              <input type="number" class="form-control" id="weight" name="weight"
                                 placeholder="{{ user_data.user_weight }}" step="0.1">
                              <h4> kgs</h4>
                           </div>
                        </div>
                        <div class="col-lg-6">
                           <label for="height" class="form-label">Current Height</label>
                           <div class="row">
                              <div class="col-lg-6">
                                 <div class="d-flex">
                                    <input type="number" class="form-control" id="height" name="height_ft"
                                       placeholder="{{ user_data.user_height_ft }}">
                                    <h4>ft</h4>
                                 </div>
                              </div>
                              <div class="col-lg-6">
                                 <div class="d-flex">
                                    <input type="number" class="form-control" id="height" name="height_in"
                                       placeholder="{{ user_data.user_height_in }}">
                                    <h4>in</h4>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </form>
            {% endif %}
         </div>
         <!------------BMI BMR Right side--------------->
         <div class="col-xl-5 status-card">
            {% if clickable == 'True' %}
            <div class="card">
               <div class="card-body">
                  <h2>Keep in shape & maintain your health</h2>
                  <h3>Fill your details and press Enter to Calculate</h3>
                  <ul class="nav nav-pills mt-4" id="pills-tab" role="tablist">
                     <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                           data-bs-target="#pills-bmi" type="button" role="tab" aria-controls="pills-bmi"
                           aria-selected="true">BMI</button>
                     </li>
                     <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-bmr-tab" data-bs-toggle="pill" data-bs-target="#pills-bmr"
                           type="button" role="tab" aria-controls="pills-bmr" aria-selected="false">BMR</button>
                     </li>
                  </ul>
                  <div class="tab-content" id="pills-tabContent">
                     <!------------BMI--------------->
                     <div class="tab-pane fade show active" id="pills-bmi" role="tabpanel"
                        aria-labelledby="pills-bmi-tab">
                        <div id="range-sliders" class="range-sliders mt-4">
                           <form action="{% url 'calculate_bmi' %}" method="POST" class="bmi-form">
                              {% csrf_token %}
                              <div>
                                 <label>Your height (cm)</label>
                                 <div class="range-slider-group">
                                    <input type="range" min="0" max="250" value="{{updated_height_bmi}}"
                                       data-color="#0057FF" class="range-slider" id="range-slider" name="height"
                                       onInput="$('#rangeval-h').html($(this).val())">
                                    <span class="input-slider" id="rangeval-h">{{updated_height_bmi}}</span>
                                 </div>
                              </div>
                              <div class="mt-4">
                                 <label>Your weight (kg)</label>
                                 <div class="range-slider-group">
                                    <input type="range" min="0" max="150" value="{{updated_weight_bmi}}"
                                       data-color="#0057FF" class="range-slider" id="range-slider-1" name="weight"
                                       onInput="$('#rangeval-w').html($(this).val())" step="0.1">
                                    <span class="input-slider" id="rangeval-w">{{updated_weight_bmi}}</span>
                                 </div>
                              </div>
                              <input type="submit" hidden>
                           </form>
                        </div>
                        <div class="output-display">
                           <h2>Your BMI</h2>
                           <div class="value">{{ bmi }}</div>
                        </div>
                        <div class="output-display">
                           <h2>Your proper weight range</h2>
                           <div class="value">{{ users_min_weight }} - {{ users_max_weight }} <small>kg</small></div>
                        </div>
                        {% if bmi == 0 %}
                        <div class="my-2"></div>
                        {% elif bmi <= 18.5 %}
                        <h3>💪 &nbsp;You have great potential to get healthier!</h3>
                        {% elif bmi >= 18.5 and bmi <= 24.9 %}
                        <h3>🥳 &nbsp;You’ve got a great figure. Keep it up!</h3>
                        {% elif bmi >= 25 and bmi <= 29.9 %}
                        <h3>🏃 &nbsp;You need to exercise a bit more to see a fitter you!</h3>
                        {% else %}
                        <h3>🏋🏻 &nbsp;You need to workout rigourously to be healthier!</h3>
                        {% endif %}
                     </div>

                     <!------------BMR--------------->
                     <div class="tab-pane" id="pills-bmr" role="tabpanel" aria-labelledby="pills-bmr-tab">
                        <div id="range-sliders" class="range-sliders mt-4">
                           <form action="{% url 'calculate_bmr' %}" method="POST" class="bmr-form">
                              {% csrf_token %}
                              <div class="row">
                                 <div class="col-lg-6 mt-4">
                                    <label>Your height (cm)</label>
                                    <div class="range-slider-group">
                                       <input type="range" min="0" max="250" value="{{updated_height_bmr}}"
                                          data-color="#0057FF" name="height" class="range-slider" id="range-slider-2"
                                          onInput="$('#rangeval-h1').html($(this).val())"
                                          style="width: calc(100% - 80px);">
                                       <span class="input-slider" id="rangeval-h1">{{updated_height_bmr}}</span>
                                    </div>
                                 </div>
                                 <div class="col-lg-6 mt-4">
                                    <label>Your age (years)</label>
                                    <div class="range-slider-group">
                                       <input type="range" min="0" max="100" value="{{updated_age}}"
                                          data-color="#0057FF" name="age" class="range-slider" id="range-slider-3"
                                          onInput="$('#rangeval-a').html($(this).val())"
                                          style="width: calc(100% - 80px);">
                                       <span class="input-slider" id="rangeval-a">{{updated_age}}</span>
                                    </div>
                                 </div>
                                 <div class="col-lg-6 mt-4">
                                    <label>Your weight (kg)</label>
                                    <div class="range-slider-group">
                                       <input type="range" min="0" max="150" value="{{updated_weight_bmr}}"
                                          data-color="#0057FF" name="weight" class="range-slider" id="range-slider-4"
                                          onInput="$('#rangeval-w1').html($(this).val())" step="0.1"
                                          style="width: calc(100% - 80px);">
                                       <span class="input-slider" id="rangeval-w1">{{updated_weight_bmr}}</span>
                                    </div>
                                 </div>
                                 <div class="col-lg-6 mt-4">
                                    <label for="gender" class="form-label">Gender</label>
                                    <select class="form-select" aria-label="Default select example" id="gender"
                                       name="gender" required>
                                       <option selected>Select Gender</option>
                                       <option value="male">Male</option>
                                       <option value="female">Female</option>
                                    </select>
                                 </div>
                                 <div class="col-lg-12 mt-4">
                                    <label for="activity-level" class="form-label">Activity Level</label>
                                    <select class="form-select" aria-label="Default select example" id="activity-level"
                                       name="activity-level" required>
                                       <option selected>Select Activity Level</option>
                                       <option value="Sedentary">Sedentary: little or no exercise</option>
                                       <option value="light">Light: exercise 1-3 times/week</option>
                                       <option value="Moderate">Moderate: exercise 4-5 times/week</option>
                                       <option value="veryactive">Very Active: intense exercise 6-7 times/week
                                       </option>
                                    </select>
                                 </div>
                              </div>
                              <input type="submit" hidden>
                           </form>
                        </div>
                        <div class="row mt-2">
                           <div class="col-lg-6 output-display">
                              <h2>Your BMR</h2>
                              <div class="value">{{ bmr}} <small>cal/day</small></div>
                           </div>
                           <div class="col-lg-6 output-display">
                              <h2>Your proper weight range</h2>
                              <div class="value">{{ proper_weight_range }} <small>cal</small></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            {% else %}
            <div class="card">
               <div class="card-body mt-3">
                  <h2>Keep in shape & maintain your health</h2>
                  <p>BMI and BMR are guidelines that allow nutrition and medical professionals to make educated
                     determinations about your body and help you stay healthy.
                  </p>
                  <h3>What is BMI ?</h3>
                  <p class="mt-3">BMI, or body mass index, is a number used to assess your body composition. </p>
                  <h3>What is BMR ?</h3>
                  <p class="mt-3">Your BMR, or basal metabolic rate, is the number of calories you burn when your
                     body is at rest.
                  </p>
                  <div class="text-center mt-5 mb-3">
                     <a href="{% url 'bmi_bmr_calculation' clickable='True' %}" class="btn get-started">Calculate BMI &
                        BMR</a>
                  </div>
               </div>
            </div>
            {% endif %}
         </div>
      </div>
   </div>
   </div>
</section>
{% endblock %}