{% extends 'base-dashboard.html' %}
{% block title%} Profile {% endblock %}
{% block profileactive %} active {% endblock profileactive %}
{% load static %}
{% block content %}
<section id="user-profile" class="user-profile">
    <h2 class="title-heading">Your Profile</h2>
    <div class="container">
        <div class="row mt-5 mb-3 justify-content-center">
            <div class="col-xl-7">
                {% if editable == 'False' %}
                <form action="{% url 'profile_change' editable='True' %}" method="POST" class="edit-form">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body">
                            <div class="profile-image">
                                {% if user_data.user_gender == 'Female' %}
                                <img src="{% static 'img/dashboard/profile-f.png' %}" class="img-fluid">
                                {% else %}
                                <img src="{% static 'img/dashboard/profile-m.png' %}" class="img-fluid">
                                {% endif %}
                                <button class="btn btn-edit float-end" type="submit">Edit <i
                                        class="fa-solid fa-pen ms-1"></i></button>
                            </div>
                            <hr>
                            <div class="row g-5 mb-5">
                                <!---- Name ----->
                                <div class="col-6">
                                    <label for="name" class="form-label">Name </label>
                                    <input type="text" class="form-control" id="name" name="name"
                                        placeholder="{{ user_data.user_name }}" disabled>
                                </div>
                                <div class="col-6">
                                    <label for="gender" class="form-label">Gender</label>
                                    <input type="text" class="form-control" id="gender" name="gender"
                                        placeholder="{{ user_data.user_gender }}" disabled>
                                </div>
                                <div class="col-6">
                                    <label for="age" class="form-label">Age</label>
                                    <input type="text" class="form-control"
                                        placeholder="{{ user_data.user_age }} years" disabled>
                                </div>
                                <div class="col-6">
                                    <label for="bloodgroup" class="form-label">Blood Group</label>
                                    <input type="text" class="form-control" id="bloodgroup" name="bloodgroup"
                                        placeholder="{{ user_data.user_blood_group }}" disabled>
                                </div>
                                <div class="col-6">
                                    <label for="weight" class="form-label">Current Weight</label>
                                    <input type="text" class="form-control"
                                        placeholder="{{ user_data.user_weight }} kgs" disabled>
                                </div>
                                <div class="col-6">
                                    <label for="height" class="form-label">Current Height</label>
                                    <input type="text" class="form-control" 
                                        placeholder="{{ user_data.user_height }} cm" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                {% else %}
                <form action="{% url 'profile_change' editable='False' %}" method="POST" class="edit-form">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body">
                            <div class="profile-image">
                                {% if user_data.user_gender == 'Female' %}
                                <img src="{% static 'img/dashboard/profile-f.png' %}" class="img-fluid">
                                {% else %}
                                <img src="{% static 'img/dashboard/profile-m.png' %}" class="img-fluid">
                                {% endif %}
                                <div class="float-end">
                                    <a class="btn btn-edit" href="{% url 'profile' %}">Cancel</a>
                                    <button class="btn btn-edit ms-3" type="submit">Save </button>
                                </div>
                            </div>
                            <hr>
                            <div class="row g-5 mb-5">
                                <div class="col-6">
                                    <label for="name" class="form-label">Name </label>
                                    <input type="text" class="form-control" id="name" name="name"
                                        placeholder="{{ user_data.user_name }}" disabled>
                                </div>
                                <div class="col-6">
                                    <label for="gender" class="form-label">Gender</label>
                                    <input type="text" class="form-control" id="gender" name="gender"
                                        placeholder="{{ user_data.user_gender }}" disabled>
                                </div>
                                <div class="col-6">
                                    <label for="age" class="form-label">Age</label>
                                    <div class="d-flex">
                                        <input type="text" class="form-control" id="age" name="age"
                                        placeholder="{{ user_data.user_age }}">
                                        <h4>years</h4>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label for="bloodgroup" class="form-label">Blood Group</label>
                                    <input type="text" class="form-control" id="bloodgroup" name="bloodgroup"
                                        placeholder="{{ user_data.user_blood_group }}" disabled>
                                </div>
                                <div class="col-6">
                                    <label for="weight" class="form-label">Current Weight</label>
                                    <div class="d-flex">
                                        <input type="text" class="form-control" id="weight" name="weight"
                                        placeholder="{{ user_data.user_weight }}">
                                        <h4> kgs</h4>
                                    </div>
                                   
                                </div>
                                <div class="col-6">
                                    <label for="height" class="form-label">Current Height</label>
                                    <div class="d-flex">
                                        <input type="text" class="form-control" id="height" name="height"
                                        placeholder="{{ user_data.user_height }}">
                                        <h4>cm</h4>
                                    </div>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
            <div class="col-xl-5">
                <div class="card">
                    <div class="card-body"></div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- <section class="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="title-heading text-center">Body Mass Index Calculator</h2>
                <form action="{% url 'profile' %}" method="POST" class="mt-5">
                    {% csrf_token %}
                    <div class="row g-4 justify-content-center">
                        <div class="col-6">
                            <label for="weight" class="form-label">What’s your weight?</label>
                            <input type="number" class="form-control" id="weight" name="weight" placeholder="Enter your weight"
                               required>
                        </div>
                        <div class="col-6">
                            <label for="height" class="form-label">What’s your height?</label>
                            <div class="d-flex justify-content-center">
                               <input type="number" class="form-control" id="height" name="height" required max="10" min="1">
                               <h4>ft.</h4>
                               <input type="number" class="form-control ms-2" id="height" name="height1" required required max="11" min="0">
                               <h4>in.</h4>
                            </div>
                         </div>
                         <div class="col-6">
                            <label for="age" class="form-label">What’s your age?</label>
                            <input type="number" class="form-control" id="age" name="age" placeholder="Enter your age"
                               required>
                        </div>
                         <div class="text-center">
                            <button type="submit" class="btn btn-primary continue">Continue</button>
                         </div>
                    </div>
                </form>
                {% if request.method == 'POST' %}
                <h4 class="text-justify mt-4">Your Body Mass Index is <span style="color: #0d23e7;">{{ bmi }}</span></h4>
                <h4 class="text-justify mt-2">The Weight Status of a user according to BMI is : <span style="color: #0d23e7;">{{ bmi_condition }}</span></h4>
                <h4 class="text-justify mt-2">Minimum Weight of user is  :  <span style="color: #0d23e7;">{{ users_min_weight }}</span> kg</h4>
                <h4 class="text-justify mt-2">Maximum Weight of user is  : <span style="color: #0d23e7;">{{ users_max_weight }}</span> kg</h4>               
                {% endif %}
               
            </div>
        </div>
    </div>
</section> -->
{% endblock %}